<!DOCTYPE HTML>
<html>
<head>
    <title>Lista Titoli</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#stock-select').change(function() {
                var selectedStock = $(this).val();

                // Richiesta AJAX per ottenere i dati del grafico e il messaggio
                $.ajax({
                    type: 'POST',
                    url: '/get_forecast',
                    data: { stock: selectedStock },
                    success: function(response) {
                        drawChart(response.data);
                        document.getElementById('message').innerText = response.message;
                        document.getElementById('log_return').innerText = 'Log Return: ' + response.log_return;
                        document.getElementById('d').innerText = response.d;

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error: ' + textStatus, errorThrown);
                    }
                });
            });

            function drawChart(data) {
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function() {
                    var chartData = [['Date', 'Storico', 'Previsione']];
                    for (var i = 0; i < data.length; i++) {
                        chartData.push([data[i]['Date'], data[i]['Forecast'] ? null : data[i]['Close'], data[i]['Forecast'] ? data[i]['Close'] : null]);
                    }
                    var options = {
                        title: 'Andamento del Titolo e Previsione',
                        legend: { position: 'bottom' },
                        colors: ['blue', 'orange']
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chart'));
                    var chartDataTable = google.visualization.arrayToDataTable(chartData);
                    chart.draw(chartDataTable, options);
                });
            }
        });
    </script>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <header id="header">
            <h1><a href="/">Finance Tracker</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="/utente_loggato">Finance Tracker</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>
        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2>Lista Titoli</h2>
                    <p>Seleziona un titolo dalla tua lista per vedere la previsione del suo andamento</p>
                </div>
            </header>
            <div class="wrapper">
                <div class="inner">
                    <div class="fields">
                        <div class="field">
                            <label for="stock-select">I miei titoli</label>
                            <select id="stock-select">
                                <option value="">-- Seleziona un titolo --</option>
                                {% for stock in user_stocks %}
                                    <option value="{{ stock }}">{{ stock }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="chart" style="width: 100%; height: 500px;"></div>
                    <!-- Nuovo div per il messaggio -->
                    <div id="message" style="margin-top: 20px; font-size: 18px;"></div>
                    <div id="log_return" style="margin-top: 20px; font-size: 18px;"></div>
                    <div id="d" style="margin-top: 20px; font-size: 18px;"></div>

                </div>
            </div>
        </section>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
